<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<h3>{{ title }}</h3>

<div>
    <button id="GatherFileNames" (click)="button1Click()">Debug1</button>
    <button id="DownloadAllFiles" (click)="button2Click()" [disabled]="isDownloading" [ngClass]="{'disabled-button': isDownloading}">Download All Files</button>
    <button id="DownloadSelectedFiles" (click)="button3Click()">Collect File Information</button>
</div>

<ng-template #viewContainerRef></ng-template>

</body>
</html>
