<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<h3>{{ title }}</h3>

<div>
    <button id="GatherFileNames" (click)="button1Click()">Collect File Names</button>
    <button id="DownloadAllFiles" (click)="button2Click()">Collect File Names</button>
    <button id="DownloadSelectedFiles" (click)="button3Click()">Collect File Names</button>
    <button id="UpdateTable" (click)="removeChild()">Remove Last Child</button>
</div>

<ng-template #viewContainerRef></ng-template>

</body>
</html>
