.disabled-button {
    opacity: 0.5; /* Change opacity to give a greyed-out effect */
    cursor: not-allowed; /* Change cursor to not-allowed to indicate disabled state */
    /* You can add more styles to customize the appearance further */
}

body {
    background-color: #121212;
    color: #f5f5f5;
}

a {
    color: #bb86fc;
}

a:hover {
    color: #3700b3;
}

button {
    background-color: #03dac6;
    color: #000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #00c4b4;
    color: white;
}

button {
    background-color: #03dac6;
    color: #000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #00c4b4;
    color: white;
}

.popup2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 20px;
    background-color: rgb(25, 25, 25, 0.8);
    border-radius: 10px;
    border: 5px solid red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color:white;
    width: 800px;
    height: 600px;
}

.popup2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup2 p {
    text-align:center;
    font-size: 22px;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 80px;
}

.popup2 input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

.popup2 button {
    margin-top: 80px;
}

#termsCheckboxText{
    text-align: center;
    text-decoration: underline;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}
